[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
whitenoise = "*"
django-allauth = "~=0.43.0"
pillow = "~=8.4.0"
gunicorn = "~=20.0.4"

[dev-packages]

[requires]
python_version = "3.8"
